* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  color: #212121;
}

.wrapper {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.welcome-heading {
  max-width: 997px;
  margin: 0 auto;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 4.25rem;
}

@media (min-width: 992px) {
  .welcome-heading {
    font-size: 5.5rem;
    line-height: 6.7rem;
  }
}

.section-heading {
  padding: 50px 25px 25px 25px;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 900;
}

@media (min-width: 992px) {
  .section-heading {
    padding-bottom: 40px;
    font-size: 4rem;
    line-height: 4.85rem;
  }
}

.section-heading--smaller {
  padding: 0 40px;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 900;
}

@media (min-width: 992px) {
  .section-heading--smaller {
    margin: 0 auto;
    max-width: 450px;
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
}

.section-subheading {
  padding: 40px 20px;
  font-size: 1.6rem;
  line-height: 19.5px;
  font-weight: 900;
}

@media (min-width: 992px) {
  .section-subheading {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

@media (min-width: 992px) {
  .paragraph {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

.menu-paragraph {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-paragraph:hover {
  color: #ffb001;
}

@media (min-width: 992px) {
  .menu-paragraph {
    font-size: 1.6rem;
    line-height: 1.95rem;
  }
}

.buy-button {
  margin: 60px 0;
  width: 320px;
  height: 80px;
  border: 2px solid #ffb001;
  border-radius: 47.5px;
  background-color: #ffb001;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #212121;
  -webkit-box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buy-button span {
  font-family: "Smooch Sans", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.buy-button:hover {
  background-color: #fff;
  color: #ffb001;
}

.buy-button--nav {
  display: none;
}

@media (min-width: 992px) {
  .buy-button--nav {
    display: block;
    margin: auto;
    width: 152px;
    height: 50px;
    font-size: 1.6rem;
  }
}

.language-input {
  margin-right: 29px;
  border: none;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.language-input:focus {
  outline: none;
}

.language-input-selected {
  border: none;
  outline: none;
}

.hamburger .line {
  width: 36px;
  height: 2px;
  background-color: #212121;
  display: block;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .hamburger .line {
    display: none;
  }
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
}

.nav__menu {
  position: fixed;
  left: 0;
  top: 105px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  -ms-touch-action: none;
      touch-action: none;
  list-style-type: disc;
}

.menu-item {
  margin: 72px 0;
  list-style-type: none;
}

@media (min-width: 992px) {
  .menu-item {
    margin: 0 30px;
  }
}

.not-active {
  position: absolute;
  left: 0;
  top: -80vh;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 992px) {
  .not-active {
    position: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
  }
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 54px;
  padding-top: 5px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 10;
}

@media (min-width: 992px) {
  #nav {
    margin-top: 40px;
  }
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

@media (min-width: 992px) {
  .nav__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  .logo {
    width: 119.5px;
  }
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sticky {
  padding: 55px 0 5px 0 !important;
  -webkit-box-shadow: 0px 4px 24px -5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 24px -5px rgba(0, 0, 0, 0.15);
  -ms-touch-action: none;
      touch-action: none;
}

@media (min-width: 992px) {
  .sticky {
    padding: 19px 0 !important;
  }
}

.nav__menu .buy-button--nav {
  display: block;
  margin: auto;
  width: 152px;
  height: 50px;
  font-size: 1.6rem;
}

#header {
  overflow: hidden;
  margin-top: 37px;
}

@media (min-width: 992px) {
  #header {
    margin-top: 68px;
  }
}

.header__content {
  position: relative;
  padding-top: 60px;
  max-width: 360px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .header__content {
    padding-top: 53px;
    max-width: 1200px;
  }
}

.cart-button {
  position: absolute;
  right: 20px;
  top: 291px;
  width: 80px;
  min-height: 80px;
  border: none;
  border-radius: 50%;
  background: url(../assets/carry-bag-icon.png), #ffb001;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media (min-width: 992px) {
  .cart-button {
    display: none;
  }
}

#about {
  width: 100%;
  min-height: 313px;
  background-color: #ffb001;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px 10px white;
  box-shadow: 0px 0px 0px 10px white;
  -webkit-transform: translateY(-179px);
          transform: translateY(-179px);
}

@media (min-width: 992px) {
  #about {
    margin: 0 auto;
    max-width: 95%;
    min-height: 305px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 0px 30px white;
    box-shadow: 0px 0px 0px 30px white;
    -webkit-transform: translateY(-373px);
            transform: translateY(-373px);
  }
}

@media (min-width: 992px) {
  .about__content {
    max-width: 700px;
  }
}

#calculator {
  margin-top: -169px;
}

@media (min-width: 992px) {
  #calculator {
    margin-top: -333px;
  }
}

.calculator__inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin: 40px 0 20px 0;
}

@media (min-width: 992px) {
  .calculator__inputs-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 53px 0 30px 0;
  }
}

.calculator__input {
  width: 100%;
  max-width: 491px;
  height: 240px;
  border-radius: 15px;
  background-color: #fafafd;
}

@media (min-width: 992px) {
  .calculator__input {
    height: 260px;
  }
}

.input {
  margin-bottom: 40px;
  width: 225px;
  min-height: 70px;
  border-radius: 15px;
  border: 1px solid #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #c2c2c2;
}

.input:focus {
  border: 1px solid #ffb001;
  outline: none;
  color: #212121;
}

@media (min-width: 992px) {
  .input {
    font-size: 2rem;
  }
}

.calculator__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 213px;
  border-radius: 15px;
  background-color: #212121;
  color: white;
}

@media (min-width: 992px) {
  .calculator__result {
    margin: 0 auto;
    max-width: 1012px;
    min-height: 127px;
  }
}

.result__span {
  display: block;
  margin: 15px 0;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 32px;
  opacity: 0.5;
}

@media (min-width: 992px) {
  .result__span {
    display: inline-block;
    margin: 0 24px 0 17px;
    font-size: 2.4rem;
  }
}

#buy {
  margin: 60px 0;
}

@media (min-width: 992px) {
  #buy {
    margin: 81px 0;
  }
}
/*# sourceMappingURL=main.css.map */