.buy-button {
    margin: 60px 0;
    width: 320px;
    height: 80px;
    border: 2px solid $main-orange;
    border-radius: 47.5px;
    background-color: $main-orange;
    font-family: $main-font;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $main-black;
    box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.4s;

    span {
        font-family: $second-font;
        font-size: 2.2rem;
        letter-spacing: 1px;
        text-transform: lowercase;
    }

    &:hover {
        background-color: #fff;
        color: $main-orange;
    }

    @include breakpoint("md") {
        // margin-bottom: 80px;
    }

    &--nav {
        display: none;

        @include breakpoint("md") {
            display: block;
            margin: auto;
            width: 152px;
            height: 50px;
            font-size: 1.6rem;
        }
    }
}
