#about {
    width: 100%;
    min-height: 313px;
    background-color: $main-orange;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1);
    transform: translateY(-179px);

    @include breakpoint("xs") {
        min-height: 220px;
    }

    @include breakpoint("sm") {
        margin: 0 auto;
        max-width: 95%;
        border-radius: 30px;
    }

    @include breakpoint("md") {
        min-height: 305px;
        -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 1);
        transform: translateY(-373px);
    }
}

.about__content {
    @include breakpoint("md") {
        padding-bottom: 40px;
        max-width: 700px;
    }
}
