#about {
    width: 100%;
    height: 313px;
    background-color: $main-orange;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1);
    transform: translateY(-180px);
}
