#calculator {
    margin-top: -170px;
}

.calculator__input-container {
    margin: 20px 0;
}

input {
    margin-bottom: 40px;
    width: 225px;
    min-height: 70px;
    border-radius: 15px;
    border: 1px solid $main-black;
    font-family: $main-font;
    text-align: center;
    color: #c2c2c2;

    &:focus {
        border: 1px solid $main-orange;
        outline: none;
        color: $main-black;
    }
}

.calculator__result {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 213px;
    border-radius: 15px;
    background-color: $main-black;
    color: white;
}

.result__span {
    display: block;
    margin: 15px 0;
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 32px;
    opacity: 0.5;
}
