#header {
    overflow: hidden;
    margin-top: 37px;
}

.header__content {
    position: relative;
    padding-top: 60px;
    width: 360px;
    margin: 0 auto;
}

.crusher-image {
    transform: translateX(-30px);
}

.cart-button {
    position: absolute;
    right: 20px;
    top: 291px;
    width: 80px;
    min-height: 80px;
    border: none;
    border-radius: 50%;
    background: url(../assets/carry-bag-icon.png), $main-orange;
    background-repeat: no-repeat;
    background-size: 37%;
    padding: 17px 26px;
    background-position: center;
    cursor: pointer;
}
