#header {
    overflow: hidden;
    margin-top: 37px;

    @include breakpoint("md") {
        margin-top: 68px;
    }
}

.header__content {
    position: relative;
    padding-top: 60px;
    max-width: 360px;
    margin: 0 auto;

    @include breakpoint("md") {
        padding-top: 53px;
        max-width: 1200px;
    }
}

.cart-button {
    position: absolute;
    right: 20px;
    top: 291px;
    width: 80px;
    min-height: 80px;
    border: none;
    border-radius: 50%;
    background: url(../assets/carry-bag-icon.png), $main-orange;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @include breakpoint("md") {
        display: none;
    }
}
