#nav {
    width: 100%;
    background-color: #fff;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;
    background-color: #fff;
    z-index: 999;
    // transition: 0.4s;

    @include breakpoint("md") {
        margin-top: 45px;
        height: 90px;
    }
}

.logo {
    max-width: 97px;
    height: 41px;
}

.nav__content {
    display: flex;
}

// This Pen is owned by Rosa on CodePen.

.hamburger .line {
    width: 36px;
    height: 2px;
    background-color: $main-black;
    display: block;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    @include breakpoint("md") {
        display: none;
    }
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -o-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
}

.sticky {
    position: sticky;
    left: 0;
    top: -1px;
    box-shadow: 0px 4px 24px -5px rgba(0, 0, 0, 0.15);
    // transition: 0.4s;
    touch-action: none;
    z-index: 999;
}

.nav__menu {
    .buy-button--nav {
        display: block;
        margin: auto;
        width: 152px;
        height: 50px;
        font-size: 1.6rem;
    }
}
