.welcome-heading {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 4.25rem;
}

.section-heading {
    padding: 50px 25px 25px 25px;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 900;

    &--smaller {
        padding: 0 40px;
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 900;
    }
}

.section-subheading {
    padding: 40px 20px;
    font-size: 1.6rem;
    line-height: 19.5px;
    font-weight: 900;
}

.paragraph {
    font-size: 1.6rem;
    line-height: 2.5rem;
}
